################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/SMW MultiTool Launcher/obj
/SMW MultiTool Launcher/bin
