<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SMW_MultiTool_Launcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <userSettings>
        <SMW_MultiTool_Launcher.My.MySettings>
            <setting name="IS_PRERELEASE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DEVELOPER_MODE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EXECUTABLE_CURRENT_VERSION" serializeAs="String">
                <value />
            </setting>
            <setting name="UPDATE_PENDING" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPDATE_PENDING_DOWNLOAD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPDATE_PENDING_INSTALLATION" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPDATE_SILENT_INSTALL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPDATE_FOUND_CVERSION" serializeAs="String">
                <value />
            </setting>
            <setting name="UPDATE_FOUND_CVERSION_WITHOUT_BUILDNBR" serializeAs="String">
                <value />
            </setting>
            <setting name="UPDATE_FOUND_CHANGELOG" serializeAs="String">
                <value />
            </setting>
            <setting name="UPDATE_FOUND_DOWNLOAD_LINK" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_UPDATED_VERSION_CHECKED" serializeAs="String">
                <value />
            </setting>
            <setting name="UPDATE_IGNORED_VERSION" serializeAs="String">
                <value />
            </setting>
            <setting name="LAST_UPDATE_CHECK_DATE" serializeAs="String">
                <value>12/26/2018 06:00:57</value>
            </setting>
            <setting name="DWM_EXTENSION" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WIN_CLASSIC_ENHANCEMENTS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UI_DARK_MODE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LOCK_AT_TOPMOST" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HIDE_TITLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HIDE_ICON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BLANK_ICON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ADDITIONAL_TITLE_TEXT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ADDITIONAL_TITLE_TEXT_TYPE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CUSTOM_TITLE_TEXT" serializeAs="String">
                <value>Default Text</value>
            </setting>
            <setting name="APP_OPACITY_TOGGLE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="APP_OPACITY_APPLY_MODE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="APP_OPACITY" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SELECTED_THEME" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WINVER_ICON" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="WINVER_USE_CURRENT_OS_ICON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TASKMGR_ICON_LINE" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TASKMGR_ICON_BACK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TASKMGR_USE_WINDOWS_ICON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHOW_HELP_BTN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SHOW_SUGGESTUPDATE_BTN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SHOW_REPORTCRASH_BTN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SHOW_WINVER_BTN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BUILT_IN_WINVER" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHOW_TASKMGR_BTN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="USE_SHELL32_ABOUTBOX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HIDE_ALL_BOTTOM_BUTTONS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHOW_BTN_SEPARATORS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAY_COMPLETEVERSION_IN_MAIN_WINDOW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MAINWINDOW_DISPLAYED_COLUMN_NBR" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="DISPLAYBTN_LUNARMAGIC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_LUNAREXPAND" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_RECOVERLM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_SNESGFX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_MARIOLPE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_HEADDER" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_HDMARIPPER" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_MMLEDIT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_ADDMUSICK" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_LVMUSUTIL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_BRRPLAYER" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_BLOCKREATOR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_PIXI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_MODE7TILEMAP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_SPC700PLAYER" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_FLIPS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_STATUSEFFECTS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_SNESCOLORTOOL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_EFFECTTOOLS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_GOPHERPOPCORNSTEW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_PETITEMM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_ASAR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_SNES_EMU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_MARIOSTARTEDITOR" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_INTERACTIONEDIT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_MULTIPLEMIDWAYPOINTS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_SPRITEGFX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_GRAPHEDIT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_YYCHR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_SMWCUST" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_SHTOOLS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_UBERASM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DISPLAYBTN_GRADIENTTOOL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHOW_LEGACYABOUTBTN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHOW_APP_VERSION_STRING" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SHOW_TRAY_ICON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KEYBOARD_SCT_ABOUTDIALOG" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KEYBOARD_SCT_HELP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KEYBOARD_SCT_SUGGESTUPDATE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KEYBOARD_SCT_SETTINGS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KEYBOARD_SCT_RESTART" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KEYBOARD_SCT_CUSTOMSHORTCUTS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ENABLE_CUSTOM_SHORTCUTS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ENABLE_CUSTOM_SHORTCUT_1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CUSTOM_SHORTCUT_1_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="CUSTOM_SHORTCUT_1_LAUNCH_WITH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CUSTOM_SHORTCUT_1_ICON" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ENABLE_CUSTOM_SHORTCUT_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CUSTOM_SHORTCUT_2_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="CUSTOM_SHORTCUT_2_LAUNCH_WITH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CUSTOM_SHORTCUT_2_ICON" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ENABLE_CUSTOM_SHORTCUT_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CUSTOM_SHORTCUT_3_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="CUSTOM_SHORTCUT_3_LAUNCH_WITH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CUSTOM_SHORTCUT_3_ICON" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ENABLE_CUSTOM_SHORTCUT_4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CUSTOM_SHORTCUT_4_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="CUSTOM_SHORTCUT_4_LAUNCH_WITH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CUSTOM_SHORTCUT_4_ICON" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ENABLE_CUSTOM_SHORTCUT_5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CUSTOM_SHORTCUT_5_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="CUSTOM_SHORTCUT_5_LAUNCH_WITH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CUSTOM_SHORTCUT_5_ICON" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ENABLE_CUSTOM_SHORTCUT_6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CUSTOM_SHORTCUT_6_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="CUSTOM_SHORTCUT_6_LAUNCH_WITH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CUSTOM_SHORTCUT_6_ICON" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UPDATE_SEARCH_AT_STARTUP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPDATE_SEARCH_AT_STARTUP_DISCRETE_MODE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="USE_LEGACY_UPDATE_POPUPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ENABLE_UPDATE_INDICATOR_ON_ABOUT_WINDOW" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SHOW_UPDATE_SYSTEM_INFOS_ON_ABOUT_SCREEN" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPDATE_AUTOMATIC_DOWNLOAD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPDATE_AUTOMATIC_INSTALLATION" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UPDATE_AUTOMATIC_INSTALLATION_SILENT_MODE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LM_SLOT1_ENABLED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LM_SLOT1_ENABLE_HEADERMAGIC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LM_SLOT1_NAME" serializeAs="String">
                <value>Lunar Magic Slot 1</value>
            </setting>
            <setting name="LM_SLOT1_VERSION" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LM_SLOT1_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="LM_SLOT2_ENABLED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LM_SLOT2_ENABLE_HEADERMAGIC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LM_SLOT2_NAME" serializeAs="String">
                <value>Lunar Magic Slot 2</value>
            </setting>
            <setting name="LM_SLOT2_VERSION" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LM_SLOT2_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="LM_SLOT3_ENABLED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LM_SLOT3_ENABLE_HEADERMAGIC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LM_SLOT3_NAME" serializeAs="String">
                <value>Lunar Magic Slot 3</value>
            </setting>
            <setting name="LM_SLOT3_VERSION" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LM_SLOT3_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="LM_1CTL_ENABLED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LM_1CTL_SHOW_SELECTOR_ON_CTRLCLICK" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LM_1CTL_SELECTED_VERSION" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SNES_SELECTED_EMULATOR" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SNES9x_PATH_x86" serializeAs="String">
                <value />
            </setting>
            <setting name="SNES9x_PATH_x64" serializeAs="String">
                <value />
            </setting>
            <setting name="SNES9x_SELECTED_ARCH" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SNES9x_USE_COLORED_ICON" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BSNES_PATH_x64" serializeAs="String">
                <value />
            </setting>
            <setting name="DISPLAYBTN_ILBPE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_SMWBBPE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_SMWENI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_SMWENE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_SMWMTE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_SMWPTE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_SMWSBE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DISPLAYBTN_SMWTYMI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SH_ILBPE_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="SH_SMWBBPE_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="SH_SMWENI_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="SH_SMWENE_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="SH_SMWMTE_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="SH_SMWPTE_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="SH_SMWSBE_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="SH_SMWTYMI_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="LUNAREXPAND_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="RECOVERLM_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="SNESGFX_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="MARIOLLPE_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="HEADDER_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="HDMA_GRAD_RIPPER_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="MMLEDIT_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="ADDMUSICK_CMD_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="ADDMUSICK_GUI_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="LVMUSUTIL_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="BRRPLAYER_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="BLOCKREATOR_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="PIXI_MAIN_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="PIXI_CONFIG_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="M7MAP_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="SPC700PLAYER_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="FLOATINGIPS_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="STATUSEFFECTS_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="SNESCOLORTOOL_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="EFFECTTOOL_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="GOPHERPOPCORNSTEW_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="PETITEMM_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="ASAR_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="MARIOSTARTEDITOR_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="INTERACTIONEDITOR_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="MULTIPLEMIDWAYPOINTS_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="SPRITEGFXCREATOR_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="GRAPHICEDITOR_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="YYCHR_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="SMWCUSTOMIZER_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="UBERASM_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="GRADIENTTOOL_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="EX_SET_DARKMODE_HOMEUPDATEBAR" serializeAs="String">
                <value>False</value>
            </setting>
        </SMW_MultiTool_Launcher.My.MySettings>
    </userSettings>
</configuration>
